# Python
__pycache__/
*.pyc
*.log
*.bak

# Build artifacts
/build
/build-dir
/dist
/packages
venv
.venv

# Bundled binaries
bin/*

# Flatpak
*.flatpak
*.flatpakrepo
.flatpak-builder
flatlibs/

# Misc
BIN-PACKS
COMMAND.txt
TEMPLATE_RELEASE.md
logs/
